
/* base styles */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}



/*
  Remove the gap between images, videos, audio and canvas and the bottom of
  their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
  Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
  Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* 
   Browse Happy prompt
*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* 
   custom styles
*/

body {
    background-color: #DBD9DB;
    color: #000000;
    font-size: .85em;
    font-family: 'Garamond', serif;
    line-height: 1.5;
    text-align: left;
} 

h1, h2, h3, h4 {
    font-family: 'Gill Sans', sans-serif;
}

h3, h4 {
    display: inline;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #493065;
}

a:hover, a:active {
    background-color: #693260;
    color: #c9c6cd;
}


.body {
    margin: 0 auto;
    width: 60%;
    clear: both; 
}

.mainHeader {
    background-color: #ffffff;
}
.mainHeader img{
    width: 30%;
    margin: 2% auto;
}

.mainHeader nav {
    background-color: #716573;
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2em;
    height: 40px;
}

.mainHeader nav ul {
    list-style-type: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #c9c6cd;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: #693260;
    text-shadow: none;
}

.mainContent {
    line-height: 20px;
}

.content {
    width: 100%;
    float: left;
    
}

.content ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.content ul li.cost:before {
    content: "$";
    display: block;
    float: left;
    width: 1.2em;
}

.top-content {
    background-color: #fff;
    padding: 3% 5%;
    margin: 1% auto;
}

.bottom-content {
    background-color: #fff;
    padding: 3% 5%;
    margin: 1% auto;
}

.sidebar-top {
    
    width: 21%;
    float: left;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.sidebar-bottom {
    width: 21%;
    float: left;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.post-info {
    font-style: italic;
    color: #727074;
    font-size: .75em;

}

.resource-list ul {
    list-style-type: none;
}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    font-family: 'Gill Sans', sans-serif;
    font-size: .85em;
    background-color: #716573;
    margin:  auto; 
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #716573;

}

.mainFooter p {
    width: 100%;
    margin: 1% auto;
    color: #fff;
    text-align: right;   
}

.mainFooter nav {
    width: 55%;
    float: left;
}

.mainFooter nav ul {
    list-style-type: none;
    margin: 0 auto;
}

.mainFooter nav ul li {
    float: left;
    display: inline;
}

.mainFooter nav a:link, .mainFooter nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    height: 20px;
}

.mainFooter  nav a:hover, a:active {
    background-color: inherit;
    color: 
}

/* 
   media query smart phone
*/

@media only screen and (min-width: 150px) and (max-width: 600px) {

    .body {    
        width: 90%;
        font-size: 90%;
    }

    .mainHeader img{
        width: 100%;
    }

    .mainHeader nav {
        height: 200px;
        border-radius: 0 0 5px 5px;
    }

    .mainHeader nav ul {
        padding-left: 0;

    }

    .mainHeader nav ul li {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .mainHeader nav a:link, .mainHeader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    .mainHeader nav ul li:nth-child(5) a:hover, a:active {
        border-radius: 0 0 5px 5px;
    }


    .content {
        width: 100%;
        float: left;   
    }

    .top-content {
        background-color: #fff;
         border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
    }

    .bottom-content {
        background-color: #fff;
         border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3% 5%;
        margin-top: 2%;
    }

    .sidebar-top, .sidebar-bottom {
        background-color: #fff;
        width: 94%;
        margin: 2% 0 2% 0%;
        padding: 2% 3%;   
    }

    .post-info {
        display: none;
    }

    .mainFooter {
        display: none;
    }
}

/* 
    media query tablet 
*/

@media only screen and (min-width : 600px) and (max-width : 1024px) {

.mainHeader nav {
    
    font-size: 1em;
    height: 35px;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #c9c6cd;
    display: inline-block;
    padding: 10px 15px;
    height: 15px;
}

.mainFooter nav {
    font-size: .75em;
}
.mainFooter nav a:link, .mainFooter nav a:visited {

    padding: 15px 5px;
    height: 20px;
}


/* ===========================
    Contact Form 
   =========================== */

input, textarea {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;     
}

textarea {
    width: 400px;
    height: 150px;
    max-width: 400px;
    line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: 1px solid #693260;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px; 
}

.form label {
    margin-left: 10px;
    color: #999999;
}

/* ===========================
    Submit Button 
   =========================== */

.submit input {
    width: 100px; 
    height: 40px;
    background-color: #693260; 
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;     
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
